LOGGING_LEVEL="DEBUG"
LOGGING_FORMAT="full"

STATE_FILE_PATH="${PWD}/state.json"

ABS_TOKEN="TOKEN"
ABS_BASE_URL="https://audiobookshelf.domain.tld"
ABS_USER_ID="7172ee79-2ec9-4b98-ab3d-c661f8522c73"

GRIST_TOKEN="TOKEN"
GRIST_BASE_URL="https://grist.domain.tld"
GRIST_DOC_ID="wJf92gdIaShexoqqw5Jax2"
